@import 'styles/variables.scss';

.top {
	width: 100%;
	padding: 10px 0;
	background-color: $tertiary-color;
}

.top__wrapper {
	display: flex;
	justify-content: flex-end;
	color: $secondary-color;

	@media screen and (max-width: $screen-medium - 1) {
		justify-content: center;
		font-size: 14px;
	}
}

.top__link {
	margin: 0 5px;
	font-weight: $font-weight-bold;
	color: $secondary-color;
}
