@import 'styles/variables.scss';

.home-sidebar {
	width: 300px;
	margin-right: 20px;
	background-color: $quartenary-color;

	@media screen and (max-width: $screen-large) {
		width: 200px;
	}

	@media screen and (max-width: $screen-medium) {
		display: none;
	}
}

.home-sidebar__menu {
	margin: 0;
}

.home-sidebar__menu-item {
	margin: 20px 0;
}

.home-sidebar__menu-item--link {
	color: $tertiary-color;
	font-size: 18px;
	text-decoration: none;
}
