@import 'styles/variables.scss';

.menu {
	background-color: $primary-color;

	@media screen and (max-width: $screen-medium) {
		display: none;
	}
}

.menu__list,
.menu__list-item {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__list {
	display: flex;
}

.menu__list-item {
	padding: 20px 30px;
	cursor: pointer;
}

.menu__list-item--first {
	padding-left: 0;
}

.menu__list-link {
	color: $secondary-color;
	font-weight: $font-weight-bold;
	text-decoration: none;
	text-transform: uppercase;
}
