@import 'styles/variables.scss';

.item__wrapper {
	margin: 20px 0;
}

.item__page {
	color: $tertiary-color;
	text-decoration: none;
}

.item__page--name {
	margin-left: 10px;
	color: $primary-color;
}

.item__content {
	display: flex;
	margin-top: 20px;

	@media screen and (max-width: $screen-medium - 1) {
		flex-direction: column;
	}
}
