@import 'styles/variables.scss';

.item-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-card__img {
	width: 100%;
	height: 150px;
	border: 1px solid $quartenary-color;
}

.item-card__name {
	margin: 5px 0 0 0;
	font-size: 16px;
	font-weight: $font-weight-light;
	text-align: center;
	text-transform: uppercase;
}

.item-card__price {
	font-size: 18px;
}

.item-card__current-price {
	color: $primary-color;
	font-weight: $font-weight-extra-bold;
}

.item-card__old-price {
	color: $quinary-color;
}
