@import 'styles/variables.scss';

.container {
	max-width: 1024px;
	margin: auto;

	@media screen and (max-width: $screen-large) {
		padding: 0 20px;
	}
}

@mixin button($backgroundColor) {
	background-color: $backgroundColor;
	font-weight: $font-weight-extra-bold;
	border: none;
	outline: none;
	cursor: pointer;
}
