$primary-color: #CC0D1F;
$secondary-color: #FFFFFF;
$tertiary-color: #231F20;
$quartenary-color: #E2DEDB;
$quinary-color: #ACACAC;
$senary-color: #80BDB8;
$septenary-color: #F16324;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

$screen-extra-large: 1440px;
$screen-large: 1024px;
$screen-medium: 768px;
$screen-small: 320px;
