@import 'styles/variables.scss';

.content {
	flex: 1;
}

.content__banner {
	width: 100%;
	height: 250px;
	background-color: $quinary-color;

	@media screen and (max-width: $screen-large) {
		height: 200px;
	}
}

.content__title {
	margin: 10px 0;
	font-weight: $font-weight-light;
}
