@import 'styles/variables.scss';
@import 'styles/globalElements.module.scss';

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.header__search-area {
	@media screen and (max-width: $screen-medium - 1) {
		display: none;
	}
}

.header__icon {
	display: none;
	cursor: pointer;

	@media screen and (max-width: $screen-medium - 1) {
		display: block;
	}
}

.header__icon--search {
	color: $primary-color;
}

.header__input {
	width: 400px;
	height: 39px;
	padding: 0 10px;
	font-size: 18px;
	border: 1px solid #aaa;
	border-radius: 0px;
	transform: translateX(1px);
	outline: none;
}

.header__button {
	@include button($primary-color);

	padding: 10px 20px;
	color: $secondary-color;
	text-transform: uppercase;
}
