@import 'styles/variables.scss';

.filter-sidebar {
	width: 300px;
	padding: 20px;
	margin-right: 20px;
	border: 1px solid $quinary-color;

	@media screen and (max-width: $screen-large) {
		width: 200px;
	}

	@media screen and (max-width: $screen-medium - 1) {
		width: 100%;
	}
}

.filter-sidebar__title {
	margin: 0;
	font-size: 24px;
	text-transform: uppercase;
	color: $primary-color;
}

.filter-sidebar__options {
	margin-bottom: 30px;
}

.filter-sidebar__subtitle {
	font-size: 20px;
	text-transform: uppercase;
	color: $senary-color;
}

.filter-sidebar__list {
	padding-left: 20px;
}

.filter-sidebar__item {
	margin: 10px 0;
	font-size: 18px;
	color: $tertiary-color;
}

.filter-sidebar__colors-list {
	display: flex;
}

.filter-sidebar__color {
	width: 50px;
	height: 25px;
	margin-right: 5px;
}

.filter-sidebar--red {
	background-color: $primary-color;
}

.filter-sidebar--orange {
	background-color: $septenary-color;
}

.filter-sidebar--blue {
	background-color: $senary-color;
}
