@import 'styles/variables.scss';

.item-area {
	flex: 1;

	@media screen and (max-width: $screen-medium - 1) {
		hr {
			display: none;
		}
	}
}

.item-area__title {
	margin: 0;
	font-size: 36px;
	font-weight: $font-weight-light;
	color: $primary-color;

	@media screen and (max-width: $screen-medium - 1) {
		margin-top: 20px;
	}
}

.item-area__ordenation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: $screen-medium - 1) {
		margin-top: 20px;
	}
}

.item-area__icons {
	@media screen and (max-width: $screen-medium - 1) {
		display: none;
	}
}

.item-area--dashborad {
	width: 25px;
	height: 25px;
	color: $senary-color;
	transform: translateY(-5px);
	cursor: pointer;
}

.item-area--list {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.item-area__label {
	margin-right: 10px;
	font-weight: $font-weight-bold;
	color: $quinary-color;
}


.item-area__select {
	width: 200px;
	padding: 5px 0;
	border: 1px solid $quinary-color;
	border-radius: 5px;

	@media screen and (max-width: $screen-medium - 1) {
		width: 150px;
	}
}

.item-area__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	grid-gap: 20px;

	margin-top: 20px;
}
